body{
        margin: 0;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 7fr 1fr;
        grid-template-rows: 80px 10fr 1fr 0.5fr;
        grid-template-areas: 
            "h h h"
            "e m d"
            "e n d"
            "e f d";
    }

    header {
    background-color: #4b0077;
    grid-area: h;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

#imagensTopoSite {
    height: 100%;
    display: flex;
    align-items: center; 
    gap: 20px;

}

#imagensTopoSite img {
    height: 100%;
    width: auto;
}

#imagensTopoSitedireita {
    height: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;  
    gap: 20px;


}

#imagensTopoSitedireita img {
    height: 100%;
    width: auto;
}


header h1 {
    color: white;
    text-align: center;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
}

    main{
        background-color: #ffffff;
        grid-area: m;
        display: flex;
        flex-direction: row;
        padding: 20px;
        
    }

    main .ConteudoPrincipal {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    section {
        flex: 2;
        height: auto;
        padding: 0 20px;
        margin: 0;
        margin-bottom: 20px;
    }

    article {
        display: flex;
        flex-direction: row;
        height: 300px;
        background: white;
        margin-bottom: 0px;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        grid-area: A;
        transition: 0.5s;
    }

    article:hover{
        transform: scale(1.05);
    }
    article img{
        height: 100%;
        width: auto;
    }
    .ConteudoArtigo{
        display: flex;
        flex-direction: column;
        margin-left: 10px;

    }

    .ConteudoArtigo .hashtags{
        display: flex;
        flex-direction: column;
        justify-content: flex-end ;
        color: gray;
    }
    main .Destaques {
        display: flex;
        width: 300px;
        height: 90%;
        gap: 20px;
    }
    aside {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 100%;
        background-color: #fafafa;
        padding: 20px;
        border: 1px solid #ddd;
        text-align: center;
        
    }
    aside img{
        margin-top: 5px;
        height: 200px;
        width: 100%;
        transition: 0.5s;

    }

    aside img:hover{
        transform: scale(1.05);

    }

    .trocarPag{
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #fafafa;
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
    }
    nav{
        grid-area: n;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }



    #esquerda{
        background-color: #ffffff;
        grid-area: e;
    }

    #direita{
        background-color: #ffffff;
        grid-area: d;
    }
    footer{
        background-color: #ffffff;
        text-align: center;
        grid-area: f;
    }
